body {
  background-color:Black;
}
h1 {
  color: red;
  font-family: verdana;
  font-size: 400%;
  text-align:center;
}
h2 {
  color: red;
  font-family: verdana;
  font-size: 250%;
  text-align:center;
}
p  {
  color: white;
  font-family: courier;
  font-size: 160%;
  border: 3px solid white;
  padding: 30px;
  margin: 30px;
  text-align:center;
}
